body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

input{
  border: none;
  border-bottom: 1px solid black;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}





/** Login or Signup **/

.Login:hover{cursor: pointer;}
.su{color: #757575;}
.su:hover{cursor: pointer;}


.signup{display: none;}
#alt2{display: none;}
#btns{display: none;}

.rounded-black-btn{
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 15px;
  border-radius: 22px;
  width: 150px;
}
.rounded-black-btn:hover{
  border: 1px solid black;
  transition: 1s;
  background-color: #fff;
  color: #000;
}
.mainintro{
  height: 50px;
}




.start{
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 15px;
  border-radius: 22px;
  width: 150px;
}
.start:hover{
  transition: 1s;
  border: 1px solid black;
  color: #000;
  background-color: #fff;
}